# Server
PORT=4000

# Webhook verification token (this is arbitrary but must match Meta Webhook config)
VERIFY_TOKEN=VERIFY_TOKEN

# WhatsApp Cloud API
GRAPH_API_BASE_URL=https://graph.facebook.com
GRAPH_API_VERSION=v22.0

# Your WhatsApp Business Phone Number ID
PHONE_NUMBER_ID=0000

# Permanent access token from Meta Developer Console
WHATSAPP_ACCESS_TOKEN=WHATSAPP_ACCESS_TOKEN