# Server
PORT=4000

# Webhook verification token (this is arbitrary but must match Meta Webhook config)
VERIFY_TOKEN=1051817920

# WhatsApp Cloud API
GRAPH_API_BASE_URL=https://graph.facebook.com
GRAPH_API_VERSION=v22.0

# Your WhatsApp Business Phone Number ID
PHONE_NUMBER_ID=852509677955861

# Permanent access token from Meta Developer Console
WHATSAPP_ACCESS_TOKEN=EAAKqRfwKvHEBQ4zqicTxpAXeJ4OPF97oiIXQLEehSHdIfWyOfCQkio99S0zZBM9wEW6oM4ZBQ6ijPodhMWjScT2nyvkRU7KOKihOEpZCYtaQCgZCZCa0iFZBAXmgAgCGTDtlSZAt6pmVYmpruO2WavlD5QbVinJwZAq54GQOZBhMqIYteSSoylmVaWTGcb1dHcNXH7q1ssrpPZAuwnmtqjKcyenvsmJsfqg7xYrzNG6gegbBwzstvkNwFd7C3pW7q3P2QnHpom44I4A4GqvGF0cXCBVipnhxgnl8YZD